@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 10px;
}




main .p {
    color: #5b5963;

}

/*
making a dark-mode and light mode classes
The background color is for the color of the card itself
The color is for the color of the text
*/
.dark-mode{
    background-color: #8B4513;
    color: #fff;
}

.light-mode{
    background-color: #fff;
    color: #5b5963;

}